.perfil {
  margin: 20px 0 0 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.perfil img {
  width: 150px;
  height: auto;
}

.perfil-resumo {
  margin: 0;
  padding: 0;
  color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.perfil-resumo h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

.perfil-resumo p {
  font-size: 1.125rem;
  color: #525252;
}

@media (max-width: 991px) {
  .perfil-resumo-detalhe::before {
    content: "";
    background-image: linear-gradient(#70DA1C, #CCF235);
    width: 40px;
    height: 10px;
    position: absolute;
  }
}

@media (min-width: 768px) {
  .perfil {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 30px 60px;
  }

  .perfil img {
  width: 250px;
  height: auto;
  }
}

@media (min-width: 992px) {
  .perfil {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }

  .perfil img {
    width: 360px;
    height: auto;
  }

  .perfil-resumo h1 {
    font-size: 4.5rem;
    line-height: 1.1;
  }

  .perfil-resumo p {
    font-size: 1.5rem;
  }

  .perfil-resumo {
    justify-content: left;
    text-align: left;
  }
  .perfil-resumo-detalhe {
    position: relative;
  }
  .perfil-resumo-detalhe::before {
    content: url(../img/detalhe.svg);
    position: absolute;
    top: -25px;
    left: -45px;
    z-index: -1;
  }
}