.experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.experiencia-resumo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.experiencia-titulo {
  text-transform: uppercase;
  color: #5f5f5f;
  font-size: 2.5rem;
}

.experiencia-titulo h2 {
  margin: 30px;
}

.experiencia-resumo-intro {
  padding: 0 20px;
  text-align: center;
  color: #525252;
  }

  .experiencia-resumo-intro strong {
    color: #000;
  }

  .experiencia-empresa {
    margin: 0 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #d0d0d0;
    border-radius: 5px;
    gap: 10px;
    position: relative;
  }

  .experiencia-empresa p, ul {
    margin: 0;
  }

  .experiencia-empresa span {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .experiencia-empresa::before {
    content: "";
    width: 5px;
    height: 20px;
    background-image: linear-gradient(#70DA1C, #CCF235);
    position: absolute;
    top: 3px;
    left: -5px;
  }

  .experiencia-empresa h3 {
    margin: 20px 0 0 0;
    color: #000;
    font-size: 1.125rem;
    line-height: 1.1;
  }

  .experiencia-empresa p, span {
    color: #525252;
    font-size: 0.875rem;
    line-height: 1.1;
  }

  .experiencia-empresa ul {
    color: #141414;
    font-size: 0.875rem;
    line-height: 1;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    gap: 10px;
  }

  .experiencia-empresa li {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
  }

  .experiencia-lista {
    padding: 0;
    display: flex;
    justify-content: start;
    align-self: start;
  }

  @media (min-width: 992px) {
    .experiencia {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 50px;
      margin: 60px;
    }

    .experiencia-titulo {
      width: 360px;
      font-size: 5rem;
      align-self: start;
    }

    .experiencia-titulo h2 {
      margin: 0;
      word-break: break-word;
      max-width: 4ch;
      color: #E0E0E0;
    }

    .experiencia-empresa {
      gap: 10px 30px;
      margin: 0;
    }

    .experiencia-resumo-intro {
      padding: 0;
      text-align: start;
    }
  }